body {
  font-family: 'Arsenal', sans-serif;
font-family: 'Bitter', serif;
  background-color:  #3B4E8B

}

h2 {color: #EDB343;}


.bg-custom {
    background-color:  #3B4E8B;
}

.navbar-brand{
  font-family: 'IBM Plex Serif', serif;
  margin: 0;
}

main{
  text-align: center;
}